.g-config-breadcrumb-container
p.g-tcga-ingest-description
  | TCGA ingest can add TCGA files as items.
.g-ingest-instructions
  | You must ingest TCGA files to a filesystem assetstore.

form#g-tcga-ingest-form(role="form")
  .form-group
    label(for="g-tcga-ingest-path") Source Path
    input.form-control.input-sm#g-tcga-ingest-path(
      type="text"
      placeholder="Path where TCGA items are located")
  .form-group
    label(for="g-tcga-ingest-assetstore-id") Assetstore ID
    input.form-control.input-sm#g-tcga-ingest-assetstore-id(
      type="text"
      placeholder="Optional assetstore ID where ingested items will be stored")
  .form-group
    label(for="g-tcga-ingest-dest-type") Destination type
    select.form-control#g-tcga-ingest-dest-type
      option(value="folder") Folder
      option(value="user") User
      option(value="collection") Collection
  .form-group
    label(for="g-tcga-ingest-dest-id") Destination ID
    input.form-control.input-sm#g-tcga-ingest-dest-id(
      type="text"
      placeholder="Existing folder, user, or collection ID to use as the destination")
  .form-group
    label(for="g-tcga-ingest-amount") Number of Items to Ingest
    input.form-control.input-sm#g-tcga-ingest-amount(
      type="text"
      placeholder="Leave blank to ingest all items, otherwise a subset of items will be ingested")
  #g-tcga-ingest-error-message
  button.g-submit-tcga-ingest.btn.btn-success(type="submit")
    i.icon-link-ext
    |  Begin ingest
